.first-container {
    height: 87vh;
}

.first-text-container {
    margin-left: 10%;
}

.first-text-container h1 {
    letter-spacing: 4px;
}

.fa-paw {
    font-size: 50px;
}

.quote-container p {
    font-style: italic;
}

.border-video {
    width        : 70%;
    border-radius: 6px;
    border-bottom: 4px solid #ffb74d;
    height       : 1px;
}

.who-we-are {
    background-image: url("/assets/SVGs/fondo-4.svg");
    background-size : 100% 100%;
}

.img-hearth {
    width: 230px;
}

.img-how-it-works {
    width: 360px;
}

.adoption-card {
    border-radius: 4px;
    width        : 100%;
}

.case-type-icon {
    border-radius: 12px;
    width: 60%;
}

video {
    margin-bottom: -8px;
}