<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isLoading">
    <div class="first-container flex-vertical-center full-width">
        <div class="first-text-container">
            <h1 class="mb-8 text-h1">ADOPTA, NECESITAN</h1>
            <h1 class="mt-8 text-h1 mb-0">UN HOGAR</h1>
            <div class="d-inline-block">
                <div
                    fxLayout="row" 
                    class="flex-vertical-center mt-12">
                    <i class="fas fa-paw color-primary"></i>
                    <div class="ml-12 quote-container">
                        <p class="mb-0 text-3">“Hasta que no hayas <strong>amado a un animal</strong>, una parte</p>
                        <p class="mt-0 text-3">de tu alma permanecerá dormida”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="main-container">
        <div 
            fxLayout="row"
            fxLayout.lt-md="column"
            class="mt-24 flex-space-between">
            <div fxFlex="1 1 47">
                <img 
                    class="full-width border-radius-4"
                    src="assets/images/who-we-are.jpg" 
                    alt="una-mano-una-patita-quienes-somos">
            </div>
            <div 
                class="flex-vertical-center flex-justify-center who-we-are"
                fxFlex="1 1 49"
                fxLayout="column">
                <h2 class="text-h2 text-bold mb-0">¿Quienes somos?</h2>
                <p class="text-align-center text-3">
                    Nuestro refugio canino fue fundado un 6 de octubre de 2014, por la Cnl. Vivian Sanchez y su mamá. Quienes dedican su vida al cuidado 
                    y rescate de los animalitos, a diario se hacen rescates de perritos atropellados, lastimados, abusados física o sexualmente por gente mala. 
                    Motivo de nuestro trabajo nos hallamos hoy con 200 perritos a nuestro cargo.
                </p>
            </div>
        </div>
    </section>
    <!-- Divider top -->
    <div 
        fxLayout="row"
        class="full-width flex-justify-center flex-vertical-center">
        <i class="fas fa-paw color-accent mr-12 text-h2"></i>
        <div class="border-video"></div>
        <i class="fas fa-paw color-accent ml-12 text-h2"></i>
    </div>
    <div class="quote-container text-align-center m-12">
        <p class="text-4">“Los animales son sensibles, inteligentes, divertidos y entretenidos. Debemos cuidarlos al igual que hacemos con los niños”</p>
    </div>
    <!-- Video -->
    <div class="mt-24">
        <video 
            #homeVideo
            autoplay
            loop
            class="full-width">
            <source src="assets/video/home1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- How it works -->
    <div 
        fxLayout.lt-md="column"
        fxLayout="row"
        class="background-cyan-light flex-space-between main-container-padding pt-24 flex-vertical-center">
        <!-- Divider bottom -->
        <div 
            fxLayout="column"
            class="flex-vertical-center"
            fxFlex="1 1 49">
            <img 
                class="img-how-it-works mt-24"
                src="assets/images/how-it-works.png">
            <p class="text-3 mb-4 mt-0">¡Adopta una mascota y </p>
            <p class="text-3 mt-4 mb-0">cambia su vida, es muy fácil!</p>
            <img 
                class="img-hearth"
                src="assets/SVGs/hearth.svg" 
                alt="hearth">
        </div>
        <div 
            class="flex-vertical-center"
            fxLayout="column"
            fxFlex="1 1 49">
            <div>
                <!-- text 1 -->
                <div 
                    class="flex-vertical-center"
                    fxLayout="row">
                    <i class="fas fa-hand-point-right color-accent text-h2 mr-12"></i>
                    <div class="mb-24 mt-24">
                        <p class="mt-0 mb-0">Nuestros animalitos llegan a nuestro refugio</p>
                        <p class="mt-0 mb-0">y son cuidados por los voluntarios.</p>
                    </div>
                </div>
                <!-- text 2 -->
                <div 
                    class="flex-vertical-center"
                    fxLayout="row">
                    <i class="fas fa-hand-point-right color-accent text-h2 mr-12"></i>
                    <div class="mb-24 mt-24">
                        <p class="mt-0 mb-0">El adoptante es informado sobre los</p>
                        <p class="mt-0 mb-0">cuidados que la mascota debe recibir.</p>
                    </div>
                </div>
                <!-- text 3 -->
                <div 
                    class="flex-vertical-center"
                    fxLayout="row">
                    <i class="fas fa-hand-point-right color-accent text-h2 mr-12"></i>
                    <div class="mb-24 mt-24">
                        <p class="mt-0 mb-0">Se firma un contrato</p>
                        <p class="mt-0 mb-0">de adopción responsable.</p>
                    </div>
                </div>
                <!-- text 4 -->
                <div 
                    class="flex-vertical-center"
                    fxLayout="row">
                    <i class="fas fa-hand-point-right color-accent text-h2 mr-12"></i>
                    <div class="mb-24 mt-24">
                        <p class="mt-0 mb-0">Juntos evaluamos si tu perfil coincide</p>
                        <p class="mt-0 mb-0">con el de la mascota y te detallamos los requisitos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider top -->
    <div 
        fxLayout="row"
        class="full-width flex-justify-center flex-vertical-center mt-24">
        <i class="fas fa-paw color-accent mr-12 text-h2"></i>
        <div class="border-video"></div>
        <i class="fas fa-paw color-accent ml-12 text-h2"></i>
    </div>
    <section class="main-container">
        <!-- Adoption list -->
        <h2 class="text-h2 text-bold">Adopciones</h2>
        <div 
            class="flex-space-between"
            fxLayout="row">
            <div 
                *ngFor="let case of adoptionCases"
                fxFlex="1 1 24"
                class="p-12 background-white border-radius-4">
                <!-- Image -->
                <div class="full-width">
                    <img 
                        class="adoption-card cursor-pointer"
                        [src]="case.mainImage" 
                        alt="Caso de Adopción">
                </div>
                <!-- Data -->
                <div class="full-width">
                    <h3 class="text-h3 mt-12 mb-12 text-light">{{ case.name | titlecase }} ({{ case.ageString }})</h3>
                    <div fxLayout="row">
                        <!-- Description -->
                        <div 
                            fxFlex="1 1 80"
                            class="p-4">
                            <p class="text-4 mt-0 mb-0">{{ case.description | slice:0:200 }}...</p>
                        </div>
                        <!-- Icons Categories -->
                        <div 
                            class="m-4"
                            fxFlex="1 1 20">
                            <!-- Animal Type -->
                            <div class="flex-justify-center mb-12">
                                <i 
                                    *ngIf="case.animalType === 'DOG'"
                                    matTooltip="Can"
                                    class="fas fa-dog text-h2 color-accent">
                                </i>
                                <i 
                                    *ngIf="case.animalType === 'CAT'"
                                    matTooltip="Felino"
                                    class="fas fa-cat text-h2 color-accent">
                                </i>
                            </div>
                            <!-- Case Type -->
                            <div class="flex-justify-center mt-12 mb-12">
                                <img 
                                    *ngIf="case.caseType === 'OURPROYECT'"
                                    matTooltip="Una mano una Patita"
                                    src="assets/logos/imagotipo-min2.png" 
                                    alt="logo-una-mano-una-patita"
                                    class="case-type-icon">
                                <i 
                                    *ngIf="case.caseType === 'INDEPENDIENT'"
                                    matTooltip="Caso independiente"
                                    class="fas fa-user text-h2 color-accent">
                                </i>
                            </div>
                            <!-- Phone -->
                            <div class="flex-justify-center mt-12 mb-12">
                                <i 
                                    (click)="onWhatsappNavigation(case)"
                                    matTooltip="Whatsapp"
                                    class="fab fa-whatsapp text-h2 color-accent cursor-pointer">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>