<div class="first-container flex-vertical-center full-width">
    <div class="first-text-container">
        <h1 class="mb-8 text-h1">ADOPTA NECESITAN</h1>
        <h1 class="mt-8 text-h1 mb-0">UN HOGAR</h1>
        <div class="d-inline-block">
            <div
                fxLayout="row" 
                class="flex-vertical-center mt-12">
                <i class="fas fa-paw color-accent"></i>
                <div class="ml-12 quote-container">
                    <p class="mb-0 text-3">“Hasta que no hayas <strong><span class="color-accent">amado a un animal</span></strong>, una parte</p>
                    <p class="mt-0 text-3">de tu alma permanecerá <strong>dormida</strong>”</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-container">
    <div 
        fxLayout="row"
        fxLayout.lt-md="column"
        class="mt-24 flex-space-between">
        <div fxFlex="1 1 49">
            <img 
                class="full-width border-radius-16"
                src="assets/images/who-we-are.jpg" 
                alt="una-mano-una-patita-quienes-somos">
        </div>
        <div 
            class="flex-vertical-center flex-justify-center who-we-are"
            fxFlex="1 1 49"
            fxLayout="column">
            <h2 class="text-h2 text-bold mb-0">¿Quienes somos?</h2>
            <p class="text-align-center text-3">
                Nuestro refugio canino fue fundado un 6 de octubre de 2014, por la Cnl. Vivian Sanchez y su mamá. Quienes dedican su vida al cuidado 
                y rescate de los animalitos, a diario se hacen rescates de perritos atropellados, lastimados, abusados física o sexualmente por gente mala. 
                Motivo de nuestro trabajo nos hallamos hoy con 200 perritos a nuestro cargo.
            </p>
        </div>
    </div>
</section>
<!-- Divider top -->
<div 
    fxLayout="row"
    class="full-width flex-justify-center flex-vertical-center">
    <i class="fas fa-paw color-primary mr-12 text-h2"></i>
    <div class="border-video"></div>
    <i class="fas fa-paw color-primary ml-12 text-h2"></i>
</div>
<div class="quote-container text-align-center m-12">
    <p class="text-4">“Los animales son sensibles, inteligentes, divertidos y entretenidos. Debemos cuidarlos al igual que hacemos con los niños”</p>
</div>
<!-- Video -->
<video 
    #homeVideo
    autoplay
    loop
    class="full-width">
    <source src="assets/video/home1.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<!-- Divider bottom -->
<div 
    fxLayout="row"
    class="full-width flex-justify-center mt-24 flex-vertical-center">
    <i class="fas fa-paw color-primary mr-12 text-h2"></i>
    <div class="border-video"></div>
    <i class="fas fa-paw color-primary ml-12 text-h2"></i>
</div>
<!-- How it works -->
<div 
    fxLayout.lt-md="column"
    fxLayout="row"
    class="background-cyan-light flex-space-between main-container-padding">
    <div fxFlex="1 1 49">
        <h1 class="text-h1 text-bold">CÓMO FUNCIONA</h1>
        <p class="text-3">¡Adopta una mascota y </p>
        <p class="text-3">cambia su vida, es muy fácil!</p>
    </div>
    <div fxFlex="1 1 49">
        <!-- text 1 -->
        <div class="mb-12 mt-12">
            <p class="mt-0 mb-0">Nuestros animalitos llegan a nuestro refugio</p>
            <p class="mt-0 mb-0">y son cuidados por los voluntarios.</p>
        </div>
        <!-- text 1 -->
        <div class="mb-12 mt-12">
            <p class="mt-0 mb-0">El adoptante es informado sobre los</p>
            <p class="mt-0 mb-0">cuidados que la mascota debe recibir.</p>
        </div>
        <!-- text 1 -->
        <div class="mb-12 mt-12">
            <p class="mt-0 mb-0">Se firma un contrato</p>
            <p class="mt-0 mb-0">de adopción responsable.</p>
        </div>
        <!-- text 1 -->
        <div class="mb-12 mt-12">
            <p class="mt-0 mb-0">Juntos evaluamos si tu perfil coincide</p>
            <p class="mt-0 mb-0">con el de la mascota y te detallamos los requisitos.</p>
        </div>
    </div>
</div>
<!-- <section class="main-container">
    
</section> -->