<div class="first-container flex-vertical-center full-width">
    <div class="first-text-container">
        <h1 class="mb-8 text-h1">ADOPTA NECESITAN</h1>
        <h1 class="mt-8 text-h1 mb-0">UN HOGAR</h1>
        <div class="d-inline-block">
            <div
                fxLayout="row" 
                class="flex-vertical-center mt-12">
                <i class="fas fa-paw color-accent"></i>
                <div class="ml-12 quote-container">
                    <p class="mb-0 text-3">“Hasta que no hayas <strong><span class="color-accent">amado a un animal</span></strong>, una parte</p>
                    <p class="mt-0 text-3">de tu alma permanecerá <strong>dormida</strong>”</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-container">
    <div 
        fxLayout="row"
        fxLayout.lt-md="column"
        class="mt-24 flex-space-between">
        <div fxFlex="1 1 49">
            <img 
                class="full-width border-radius-16"
                src="assets/images/who-we-are.jpg" 
                alt="una-mano-una-patita-quienes-somos">
        </div>
        <div 
            class="flex-vertical-center flex-justify-center"
            fxFlex="1 1 49"
            fxLayout="column">
            <h2 class="text-h2 text-bold">¿Quienes somos?</h2>
            <p class="text-align-right">
                Nuestro refugio canino fue fundado un 6 de octubre de 2014, por la Cnl. Vivian Sanchez y su mamá. Quienes dedican su vida al cuidado 
                y rescate de los animalitos, a diario se hacen rescates de perritos atropellados, lastimados, abusados física o sexualmente por gente mala. 
                Motivo de nuestro trabajo nos hallamos hoy con 200 perritos a nuestro cargo.
            </p>
        </div>
    </div>
</section>