<div>
    <!-- Logo -->
    <div class="flex-vertical-center flex-justify-center">
        <img 
            src="assets/logos/imagotipo-min.png" 
            alt="una-mano-una-patita-logo"
            class="h-200">
    </div>
    <!-- Inputs -->
    <div>
        <h3 class="text-h3 color-primary m-0 text-medium">Ingresa tus credenciales</h3>
        <p class="text-1 color-lighter-gray text-regular mt-12 mb-12">Estás por ingresar al panel!</p>
        <!-- Email control -->
        <mat-form-field 
            color="accent"
            class="full-width">
            <mat-label>Email</mat-label>
            <input 
                [(ngModel)]="currentUser.email"
                matInput 
                type="email"
                placeholder="Escribe tu e-mail"
                (keyup.enter)="authLogin()">
        </mat-form-field>
        <!-- Password control -->
        <mat-form-field 
            color="accent"
            class="full-width">
        <mat-label>Contraseña</mat-label>
        <input 
            matInput 
            [(ngModel)]="currentUser.password"
            type="password"
            placeholder="Escribe tu contraseña"
            (keyup.enter)="authLogin()">
        </mat-form-field>       
    </div>
    <!-- Login -->
    <div fxLayoutAlign="end">
        <button 
            mat-raised-button
            [disabled]="!(currentUser.password && currentUser.email)"
            color="accent"
            class="color-white"
            type="submit"
            (click)="authLogin()">
            Iniciar sesión
        </button>
    </div>
</div>
