<!-- Navigation -->
<mat-toolbar>
    <mat-toolbar-row>
        <div fxHide.gt-sm>
            <button mat-icon-button>
                <mat-icon (click)="onSidenavChange(sidenav)">menu</mat-icon>
            </button>
        </div>
        <div class="logo-container flex-vertical-center">
            <img 
                src="assets/logos/imagotipo-horizontal.png" 
                alt="una-mano-una-patita-logo"
                class="logo">
        </div>
        <div 
            fxFlex
            fxLayoutAlign="end"
            fxShow
            fxHide.lt-md>
            <a 
                mat-button
                [routerLink]="'/home'"
                routerLinkActive="active-link">
                HOME
            </a>
            <a 
                mat-button
                [routerLink]="'/quienes-somos'"
                routerLinkActive="active-link">
                ¿QUIÉNES SOMOS?
            </a>
            <a
                mat-button
                [routerLink]="'/adopciones-lista'"
                routerLinkActive="active-link">
                ADOPCIÓN
            </a>
            <a
                mat-button
                [routerLink]="'/perdidos-lista'"
                routerLinkActive="active-link">
                PERDIDOS
            </a>
            <a 
                mat-button
                [routerLink]="'/donar'"
                routerLinkActive="active-link">
                DONAR
            </a>
            <a
                *ngIf="!auths.isUserLogged"
                mat-button
                (click)="openLoginDialog()">
                INICIAR SESIÓN
            </a>
            <a
                *ngIf="auths.isUserLogged"
                mat-button
                [routerLink]="'/admin/publicar'"
                routerLinkActive="active-link">
                IR PANEL
            </a>
            <a
                *ngIf="auths.isUserLogged"
                mat-button
                (click)="logout()">
                SALIR
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- Content app -->
<mat-sidenav-container [style.display]="isMobileMenuClicked ? 'block' : 'none'">
    <mat-sidenav
        (closed)="onSidenavClosed()" 
        #sidenav>
        <mat-nav-list>
            <a 
                mat-list-item 
                [routerLink]="'/home'"
                routerLinkActive="active-link">
                Home
            </a>
            <a 
                mat-list-item 
                [routerLink]="'/quienes-somos'"
                routerLinkActive="active-link">
                ¿Quiénes somos?
            </a>
            <a
                mat-list-item 
                [routerLink]="'/adopciones-lista'"
                routerLinkActive="active-link">
                Adopción
            </a>
            <a
                mat-list-item 
                [routerLink]="'/perdidos-lista'"
                routerLinkActive="active-link">
                Perdidos
            </a>
            <a 
                mat-list-item 
                [routerLink]="'/donar'"
                routerLinkActive="active-link">
                Donar
            </a>
            <a
                *ngIf="!auths.isUserLogged"
                mat-list-item 
                (click)="openLoginDialog()">
                Iniciar sesión
            </a>
            <a
                *ngIf="auths.isUserLogged"
                mat-list-item 
                [routerLink]="'/admin/publicar'"
                routerLinkActive="active-link">
                Ir al panel
            </a>
            <a
                *ngIf="auths.isUserLogged"
                mat-list-item 
                (click)="logout()">
                Salir
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>